// Global variables
@img-root: "../img";

// General styles
body { font: 13px/1.35em Arial, Helvetica, sans-serif; color: #333; }

h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; margin: 0 0 12px 0; line-height: 1.35em; }
a, a:link, a:visited { color: #000; }
a:hover, a:active { color: #36c; }

// Content
.container.the-goods { margin-top: 104px; }

@media (max-width: 979px) {
    .container.the-goods { margin-top:0; }
}

// IMPORTED

html, body, #map { height: 100%; }

#map { cursor:default !important; /* wax interactivity changes the cursor, lets change it back */ }
        
p.desc {
    background: url('../img/npr_75x25.png') no-repeat center left;
    padding-left: 85px;
    margin: 13px;
    line-height: 15px;
    font-size: 13px;
    color: #999;
}        
        
#topper {
    position:fixed;
    top:46px;
    width:100%;
    z-index:2;
    background-color:#ebebeb;
    height:60px;
    color:#333;
}

#topper h1 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 16px;
    color:#555;
}

#topper #about {
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 8px;
    width: 80px;
    height: 40px;
    border: 1px solid #999999;
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    color: #777;
}

#legend {
    display:none;
    position:absolute;
    z-index:2;
    left: 15px;
    top: 126px;
    padding: 15px 15px 3px 15px;
    width: 240px;
    -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.33);
       -moz-box-shadow: 0 1px 7px rgba(0,0,0,.33);
            box-shadow: 0 1px 7px rgba(0,0,0,.33);
    background: rgba(255,255,255,.9);
    opacity: .9;
    border: 1px solid #ccc;
}

.legend-contents {
    color: #333;
}

.legend-contents p.headline { 
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, serif;
    line-height: 16px;
    color: #222;
}

.legend-contents a { 
    color: #36c;
}

.legend-contents p { 
    font-size: 14px;
    line-height: 1.3em;
    color: #666;
}

.legend-contents p.source,#legend p.byline {
    font-size:12px;
}

.legend-contents p.read-more {
	font-size: 13px;
	font-weight: bold;
	margin: 18px 0;
	font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	text-transform: uppercase;
}

.legend-contents p.read-more a{
	font-weight: normal;
	text-transform: none;
}

.modal {
    margin: 0;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}

.modal-body {
    max-height:none;
}
.modal-header .close {
    padding: 20px;
    position: absolute;
    right: -5px;
    top: -10px;
}

.zoomer {
    right:14px;
    top:76px;
    left:auto;
}

.zoomer.zoomout {
    right:43px;
}

.map-tooltip {
    display:none;
}

.danger-popup {
    position: absolute;
    background-color: #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 160px;
    color: white;
    padding: 12px 15px 15px;
    font-weight: bold;
    font-size: 16px;
    margin-left: -95px;
    margin-top: -117px;
    text-align: center;
}

.danger-popup .city-state {
    font-size: 10px;
    line-height: 9px;
    margin-top: 6px;
    font-weight: normal;
}

.danger-popup .pointer {
    background-image:url('../img/down-arrow.png'); 
    height:10px;
    width:18px;
    position:absolute;
    bottom:-10px;
    left: 85px;
}

.danger-rating { width:150px; color:#333; padding:5px; margin: 10px 0 0; text-transform:uppercase; text-align:center; font-size:14px; }
.danger-low { background-color: #77b0d3; }
.danger-moderate { background-color: #b6e3ef; }
.danger-high { background-color: #FEE090; }
.danger-very-high { background-color: #FC8D59; }
.danger-extreme { background-color: #D73027; }
.danger-not-reported { background-color: #eeeeee; }

@media (max-width: 767px) {
    /* Override bootstrap */
    body { padding: 0; padding-right: 0; }

    nav { padding-left: 20px; }
    #topper { padding-left: 20px; } 
}

@media (min-width:767px) {
    #topper { padding-left: 30px; } 
    #topper h1 {
        font-size: 28px;
        line-height: 56px;
        float: left;
        margin-top: 0px;
    }
    #topper #about {
        width: 150px;
        font-size: 14px;
    }
}

@media (min-width:960px) {
    #topper #about { display:none; }
    #legend { display:block; }
}
