{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('css/mapbox.css') }}
    {{ CSS.push('less/app-map.less') }}
{% endblock %}

{% block extra_head_js %}
    {{ JS.push('js/lib/mapbox.js') }}
{% endblock extra_head_js %}

{% block map_content %}
    <div id="topper">
        <h1>{{ PROJECT_NAME }}</h1>
        <button id="about" data-toggle="modal" data-target="#myModal">About<br/>the map</button>
    </div>
    <div id="map"></div>
    <div id="zoomlens" class="overlay">
        <div id="zoommap" class="overlay"></div>
        <div id="border" class="overlay"></div>
        <div id="tooltip"></div>
    </div>
    <div id="legend">
        <div class="legend-contents">
    		<p class="headline">{{ PROJECT_NAME }}</a>
    			<p class="chatter">This map shows the path of the May 20th tornado that hit Moore, Oklahoma.</p>
    		<p class="read-more">Read more: <a href="TKTK">TKTK: Story Link Here</a></p>
    		<p class="byline">
            By <a href="mailto:bboyer@npr.org">Brian Boyer</a>, <a href="mailto:cgroskopf@npr.org">Christopher Groskopf</a>, <a href="mailto:ahurt@npr.org">Alyson Hurt</a>, and <a href="mailto:mstiles@npr.org">Matt Stiles</a> &mdash; May 21, 2012
            </p>
    		<p class="source">
                TKTK: Sources
            </p>
		</div>
	</div>

	<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">X</button>
	    <h3>{{ PROJECT_NAME }}</h3>
	  </div>
      <div class="modal-body">
      </div>
	</div>
    
{% endblock %}

{% block extra_foot %}
<!--[if lte IE 8]>
    <link href='css/mapbox.ie.css' rel='stylesheet' />
<![endif]-->
{% endblock extra_foot %}